    @font-face {
      font-family: "gosha-sans";
      src: url(assets/fonts/gosha-sans/PPGoshaSans-Regular.otf) format('opentype');
      font-weight: 400;
    }
    
    .main {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    overflow: hidden;
    font-size: 96px;
    font-family: "gosha-sans";
    font-weight: 700;
    background-color: rgb(3, 3, 3);
    color: white;
  }